<!-- styles -->
<style>
</style>

<!-- insert body content -->
      <div class="container-fluid">
        <!-- my content -->
        <h1><%= title %></h1>
        <p>APP_NAME : <%= appName %></p>
        <p>ID : <%= myuuid %></p>
        
        <!-- my content -->
      </div>


<!-- scripts -->
<script>
  // Script content!
</script>

<% /** title, header and footer */ %>
<%- contentFor('title') %>
<%= title %>

<%- contentFor('header') %>

<%- contentFor('footer') %>
